.footer {
    background: #282828;
    height: 384px;
    padding: 85px 0 50px;
}

.footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .logo {
    display: flex;
    align-items: center;
}

.footer .logo .logo-item {
    font-size: 32px;
    line-height: 39px;
    color: #fff;
}

.main-sections .main-section-title,
.personal-area .personal-area-title,
.write-to-us .write-title {
    color: #fff;
    cursor: pointer;
    font-family: 'inter-600';
    font-size: 18px;
    line-height: 22px;
}

.personal-area-catalog,
.write-to-us i{
    color: #fff;
    cursor: pointer;
}

.personal-area {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.personal-area-catalog {
    margin-top: 25px;
}

.main-sections .main-catalog {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    gap: 0 100px;
    margin-top: 35px;
}

.main-sections-catalog .main-sections-catalog-item,
.personal-area-catalog  .personal-area-catalog-item,
.write-to-us .write-subtitle {
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    font-family: 'roboto-400';
}

.write-to-us .write-icons {
    margin: 35px 0;
    display: flex;
    gap: 0 36px;
    font-size: 18px;
}

.write-to-us,
.write-title {
    color: #fff;
}

.cookie{
    border-radius: 50px;
    height: 59px;
    width: 792px;
    background: #fff;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cookie .cookie-title{
    font-family: 'roboto-500';
    font-size: 16px;
    line-height: 40px;
    color: #2E2E2E;
    margin-top: 15px;
    cursor: pointer;
}

.cookie .cookieBtn{
    background: #03050C;
    color: #fff;
    width: 82px;
    height: 32px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    line-height: 17px;
    font-family: 'inter-500';
    cursor: pointer;
}
